extends ../layout
block content
  //删除操作提示
  include ../operation-comfirm.pug
  include ../operation-status.pug
        
  //顶部导航
  include ../menu
  
  main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
    a(id='createBtn' href='/admin/users/update' class='btn btn-primary' role='button' style='margin:10px 0 10px 0;') 添加用户    
    //button(id='statusBtn' type='button' class='btn btn-primary' role='button' style='margin-left:10px;') 显示状态    
    -if(users && users.length)
      .table-responsive
        table.table.table-striped.table-sm
          thead
            tr
              th 序号
              th 头像        
              th 账号
              th 昵称
              th 真实姓名
              th 手机号
              th 邮箱
              th 用户类型
              th 创建时间
              th 操作
          tbody
            each user,index in users
              tr
                th #{index + 1}       
                td
                  a(href=user.photo target='_blank')
                    img.rounded-circle(src=user.photo style='height:25px;width:25px;')         
                td= user.account
                td= user.nickname
                td= user.realname
                td= user.mobile
                td= user.email
                td #{'1' === user.userType ? '超级管理员' : ('2' === user.userType ? '博客管理员' : '访客' )}
                td= user.createTime
                td
                  a(href='/admin/users/update?id='+user._id class='btn-sm') 更新
                  a(href='#confirmModal' data-url='/api/users/'+user._id class='btn-sm' data-toggle='modal' data-name=user.account data-id=user._id) 删除 
      nav
        ul.pagination.justify-content-center
         -if(pagination.page <= 1)
          li.page-item.disabled
            a(class='page-link' href='#' tabindex='-1' aria-disabled='true') 上一页
         -else
          li.page-item
            a(class='page-link' href='/admin/users?limit=' + pagination.limit + '&page=' + (pagination.page - 1) + (keywds ? '&keywds=' + keywds : '' )) 上一页       
         -if(pagination)
           -for(var i = 1; i <= pagination.pages; i++)
             -if(i == pagination.page)
               li(class='page-item active' aria-current='page')
                 a(class='page-link' href='#') #{i}
                   span(class='sr-only') (current)
             -else
               li.page-item
                 a(class='page-link' href='/admin/users?limit=' + pagination.limit + '&page=' + i + (keywds ? '&keywds=' + keywds : '' )) #{i}
         -if(pagination.page < pagination.pages)
          li.page-item
            a(class='page-link' href='/admin/users?limit=' + pagination.limit + '&page=' + (pagination.page + 1) + (keywds ? '&keywds=' + keywds : '' )) 下一页
         -else
          li.page-item.disabled
            a(class='page-link' href='#' tabindex='-1' aria-disabled='true') 下一页
    -else
      p 暂无数据.                          
     
            
    
block script
  include ../scripts
  script(src='/admin/javascripts/common-index.js')
